@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins:wght@600&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    font-weight: bold;
}
html{
    font-size: 15px;
}

@media (max-width: 900px){
    html{
        font-size: 10px;
    }
}

@media (max-width: 400px){
    html{
        font-size: 8px;
    }
}